@model List<UserInRoleViewModel>
@{
    ViewData["Title"] = "Add Or Remove Users";
    var RoleId = ViewBag.RoleId;
}

<h2>Add Or Remove Users</h2>
<form class="my-3" asp-action="AddOrRemoveUsers" asp-route-roleid="@RoleId">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Select</th>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <input asp-for="@Model[i].IsSelected" />
                    </td>
                    <td>
                        <label asp-for="@Model[i].IsSelected">@Model[i].UsernName</label>
                    </td>
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].UsernName" />
                </tr>
            }
        </tbody>
    </table>
    <div class="my-3">
        <input type="submit" value="Update" class="btn btn-success" />
        @* <a asp-action="Index" asp-controller="Roles" class="btn btn-light">Cancel</a> *@
        <a asp-action="Update" asp-route-id="@RoleId" class="btn btn-light">Cancel</a>
    </div>
</form>


