@model ApplicationUser
@{
    ViewData["Title"] = "Edit";
}
<h1>Update User</h1>
<br />
<br />

<div class="row">
    <div class="col-8">
        <form asp-action="Update" asp-controller="User">
            @Html.ValidationSummary(true,"",new{@class = "text-danger"})

            <input hidden asp-for="Id" />
            @* <partial name="PartialViews/CreateOrUpdate" model="@Model" /> *@

            <div class=" form-group">
                <label asp-for="@Model.UserName" class="col-form-label"></label>
                <input asp-for="@Model.UserName" class="form-control" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>

            <br />
            <input type="submit" value="Update" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-dark">Back To List</a>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
